name: Continuous Integration and Delivery

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        description: '游눤 Environment to deploy to'
        default: 'production'
        options:
          - 'development'
          - 'staging'
          - 'production'
      feature_branch:
        type: string
        required: true
        description: '游꾸 Feature branch to deploy'
        default: 'master'


env:
  WEB_IMAGE: ghcr.io/$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')/web

jobs:

  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v1
      - name: Add environment variables to .env
        run: |
          echo "DEBUG=0" >> .env
          echo "SQL_ENGINE=django.db.backends.postgresql" >> .env
          echo "DATABASE=postgres" >> .env
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
      - name: Set environment variables
        run: |
          echo "WEB_IMAGE=$(echo ${{env.WEB_IMAGE}} )" >> $GITHUB_ENV
      - name: Log in to GitHub Packages
        run: echo ${PERSONAL_ACCESS_TOKEN} | docker login ghcr.io -u ${{ secrets.NAMESPACE }} --password-stdin
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Pull images
        run: |
          docker pull ${{ env.WEB_IMAGE }} || true
      - name: Build images
        run: |
          docker-compose -f docker-compose.ci.yml build
      - name: Push images
        run: |
          docker push ${{ env.WEB_IMAGE }}
  deploy:
#    name: Deploy to Production
#    runs-on: ubuntu-latest
#    needs: build
#    steps:
#      - name: Checkout master
#        uses: actions/checkout@v1
#      - name: Add environment variables to .env
#        run: |
#          echo "DEBUG=0" >> .env
#          echo "WEB_IMAGE=${{ env.WEB_IMAGE }}" >> .env
#          echo "NAMESPACE=${{ secrets.NAMESPACE }}" >> .env
#          echo "PERSONAL_ACCESS_TOKEN=${{ secrets.PERSONAL_ACCESS_TOKEN }}" >> .env
#      - name: Add the private SSH key to the ssh-agent
#        env:
#          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
#        run: |
#          mkdir -p ~/.ssh
#          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
#          ssh-keyscan github.com >> ~/.ssh/known_hosts
#          ssh-add - <<< "${{ secrets.PRIVATE_KEY }}"
#      - name: Build and deploy images on Server
#        env:
#          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
#        run: |
#          scp  -o StrictHostKeyChecking=no -r ./.env ./docker-compose.prod.yml ali@${{ secrets.SERVER_IP_ADDRESS }}:/code
#          ssh -o StrictHostKeyChecking=no ali@${{ secrets.SERVER_IP_ADDRESS }} << 'ENDSSH'
#            cd /code
#            source .env
#            docker login ghcr.io -u $NAMESPACE -p $PERSONAL_ACCESS_TOKEN
#            docker pull $WEB_IMAGE
#            docker compose -f docker-compose.prod.yml up -d
#          ENDSSH
    name: Print Environment Variables on GitHub Actions
    runs-on: ubuntu-latest
    if: github.event.inputs.environment == 'development'
    steps:
      - name: Print Environment Variables
        run: |
          echo " 游꾸游꾸游꾸游꾸游꾸 input that selected is ==> ${{ inputs.environment }}"
          echo " 游꾸游꾸游꾸游꾸游꾸 repository variable is ==> ${{ env.TEST_VARIABLE }}"